<!--Header Section Start-->
<header class="header">
    <a href="#" class="logo"><i class="bi bi-basket2-fill"></i> Grocery .</a>
    <!--Navbar start-->
    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#features">Features</a>
        <a href="#product">Products</a>
        <a href="#categories">Categories</a>
        <a href="#review">Review</a>
        <a href="#block">Blocks</a>
    </nav>
    <!--Navbar end-->

    <div class="icons">
        <span class="fa fa-bars" id="menu-btn"></span>
        <span class="fa fa-search" id="search-btn"></span>
        <span class="fa fa-shopping-cart" id="cart-btn"></span>
        <span class="fa fa-user" id="login-btn"></span>
        
       
    </div>

    <form class="search-form">
        <input type="search" id="search-box" placeholder="search hear......">
        <label for="search-box" class="fa fa-search"></label>
    </form>

    <!--Shopping cart start-->
    <div class="shopping-cart">
        <div class="box">
            <i class="fa fa-trash"></i>
            <img src="/assets/image/cart-img-1.png">
            <div class="content">
                <h3>&nbsp; Watermelon</h3>
                <span class="price">$4.5/-</span>
                <span class="quantity">Qty : 1</span>
            </div>
        </div>
        <div class="box">
            <i class="fa fa-trash"></i>
            <img src="/assets/image/cart-img-2.png">
            <div class="content">
                <h3>Onion</h3>
                <span class="price">$2.5/-</span>
                <span class="quantity">Qty : 1</span>
            </div>
        </div>
        <div class="box">
            <i class="fa fa-trash"></i>
            <img src="/assets/image/cart-img-3.png">
            <div class="content">
                <h3>Chikan</h3>
                <span class="price">$2.5/-</span>
                <span class="quantity">Qty : 1</span>
            </div>
        </div>

        <div class="total"> Total : $ 45.5/- </div>
        <a href="#" class="btn">Checkout</a>
    </div>
    <!--Shopping cart End-->


    <!--UserForm start-->
    <form action="#" class="login-form">
        <h3>Login Now</h3>
        <input type="email" placeholder="enter your email" class="inputbox form-control"><br>
        <input type="password" placeholder="enter your password" class="inputbox form-control " >
        <p>Forgate password<a href="#">Click hear</a></p>
        <p>New User Register hear <a href="#">Click hear </a></p>
        
        <input type="submit" value=" Login Now" id="btn">


    </form>
    <!--UserForm start-->
</header>

<!--Header Section End-->